<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<br>
  <h2>Welcome To Home Pages</h2>
  <br>
  <div class='row'>
  <div class='col-sm-4' >
  <a class='btn btn-primary' href='/'>Home</a>
  </div>
    
    {% if user.is_authenticated %} 
         <div class='col-sm-4' > 
            <a  class='btn btn-primary' href="javascript:{document.getElementById('logout').submit()}">Logout</a>
              <form id="logout" method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <input type="hidden" />
              </form>
              </div>

              {% else %}
          <div class='col-sm-4' >
          <a class='btn btn-primary' href='/login/'>Login</a>
           </div>
         <div class='col-sm-4' >
          <a class='btn btn-primary' href='/register/'>Register</a>
            </div>
  
  {% endif %}
  </div>
</div>
<br><br>
  <div class='container border'>
  {% for posts in posts %}
  <h3 class="text-success">{{ forloop.counter }}  - {{ posts.title }}</h3><br>
  <h4>Author By : {{ posts.userid }}</h4><br>
  <p>{{ posts.body }}</p>
  {% endfor %}
  </div>
</body>
</html>
